body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #cf8311, #3181b3);
    min-height: 100vh;
    height: auto;
    overflow-y: scroll;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #555;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: transparent;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);padding: 20px;
    border-radius: 10px;
    
    text-align: center;
    position: relative;
}


h1 {
    color: #0e0c0c;
    font-style:italic ;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bolder;
}

input,
select,
button {
    width: 60%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

input:hover,
button:hover {
    border-color: #007bff;
}

input {
    border-radius: 8px;
}

.input-button-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
     /* Allow items to wrap to the next line */
}

/* Adjust the width of input fields for PC screens */
.input-button-container input {
    width: 28%; /* Adjust the width as needed */
}
.numberofsubjects{
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bolder;
   

}
#subjectInputs{
    font-weight: 600;
    font-size: 15px;
    display: block;
}


button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 0px 30px 30px 30px;
    height: auto;
    border-color: #333;
    border-width: 1px;
    font-weight: 700;
    width: auto;
    align-items: center;
    transition: 0.5s all ease;
}

button:hover {
    border-radius: 40px 40px 0px 40px;
    background: #06b370;
    font-weight: 700;
    background: -webkit-linear-gradient(to right, #2C5364, #4791aa, #82a3b1);
    background: linear-gradient(to right, #2C5364, #60a7be, #aebdc4);
    transition: 0.5s all ease;
}

hr {
    border: none;
    height: 1px;
    color: #ddd;
    background-color: #ddd;
}

/* Style for the result table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #6772e5;
    color: white;
    font-weight: bold;
    border: none;
}

td {
    border-bottom: 1px solid #e0e0e0;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9ff;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        width: 80%;
        align-items: baseline;
        text-align: center;
    }

    button {
        cursor: pointer;
        background-color: transparent;
        border-radius: 10px;
        height: auto;
        border-color: #333;
        border-width: 0.5px;
        width:fit-content;
       font-weight: bolder;
        transition: 0.5s all ease;
       
    }

    button:hover {
        border-radius: 12px;
        background: #06b370;
        background: -webkit-linear-gradient(to right, #2C5364, #4791aa, #82a3b1);
        background: linear-gradient(to right, #2C5364, #60a7be, #aebdc4);
        transition: 0.5s all ease;
    }

    .input-button-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    input,
select{
   max-width: 20%;
    padding: 10px;
   font-weight: bold;
    
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
}
#subjectInputs{
    font-weight: 600;
    font-size: 17px;
}
#subjectInputs input{
    padding: 10px;
    max-width: 60%;
    
}
}
